@import "../../sass/variables";
@import "../../sass/animations";

.sidebar {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	height: 100%;
	width: 250px;
	background-color: var(--aside-background);
	box-shadow: 0px 0px 20px var(--main-shadow);
	transform: translateX(-105%);
	transition: transform 0.3s ease, background-color 0.5s, box-shadow 0.5s;
	overflow: hidden;
	z-index: 5;
	display: flex;
	flex-direction: column;

	&.opened {
		transform: translateX(0);
		animation: slideIn-left 0.3s forwards;
	}

	&.closing {
		transform: translateX(-100%);
		animation: slideOut-left 0.3s forwards;
	}
}

@media (min-width: 992px) {
	.sidebar {
		position: static;
		transform: translateX(0);
		width: 300px;
	}
}
