@keyframes slideIn-left {
    from {
        transform: translateX(-100%);
    } to {
        transform: translateX(0);
    }
}

@keyframes slideOut-left {
    from {
        transform: translateX(0);
    } to {
        transform: translateX(-100%);
    }
}