@import "./variables";

@mixin light-theme {
	--background-gradient-1: #{$background-gradient-1-light};
	--background-gradient-2: #{$background-gradient-2-light};
	--aside-background: #{$aside-background-light};
	--font-color: #{$font-color-light};
	--main-shadow: #{$main-shadow-light};
	--aside-shadow: #{$aside-shadow-light};
}

@mixin dark-theme {
	--background-gradient-1: #{$background-gradient-1-dark};
	--background-gradient-2: #{$background-gradient-2-dark};
	--aside-background: #{$aside-background-dark};
	--font-color: #{$font-color-dark};
	--main-shadow: #{$main-shadow-dark};
	--aside-shadow: #{$aside-shadow-dark};
}

@mixin subpage {
	padding-top: 6em;
	background-color: var(--background-gradient-1);
	transition: background-color 0.5s;
	height: 100%;
	overflow-y: scroll;
	scrollbar-width: none;
	scrollbar-color: transparent transparent;

	&::-webkit-scrollbar {
		width: 0;
		background-color: transparent;
	}
	

	@media (min-width: 400px) {
		padding-top: 10em;
	}

	@media (min-width: 768px) {
		padding-left: 20px;
		padding-right: 20px;
	}

	@media (min-width: 992px) {
		padding-top: 3em;
	}
}

@mixin heading {
	font-size: 1.7em;
}

@mixin subpageHeading {
	position: relative;
	width: fit-content;
	margin-left: auto;
	margin-bottom: 2em;
	color: var(--font-color);
	font-weight: normal;
	font-size: 2em;
	transition: color 0.3s;

	span {
		font-size: 1.2em;
		@include mainColored();
	}

	&::after {
		content: "";
		position: absolute;
		bottom: -3px;
		left: 0;
		height: 3px;
		width: 100%;
		background-color: var(--main-color);
		transition: background-color 0.3s;
	}

	@media (min-width: 768px) {
		margin-left: 0;
	}
}

@mixin text {
	margin-top: 1.2em;
}

@mixin mainColored {
	color: var(--main-color);
	transition: color 0.5s;
}
