@import "./variables";

@mixin light-theme {
	--background-gradient-1: #{$background-gradient-1-light};
	--background-gradient-2: #{$background-gradient-2-light};
	--aside-background: #{$aside-background-light};
	--font-color: #{$font-color-light};
	--main-shadow: #{$main-shadow-light};
	--aside-shadow: #{$aside-shadow-light};
}

@mixin dark-theme {
	--background-gradient-1: #{$background-gradient-1-dark};
	--background-gradient-2: #{$background-gradient-2-dark};
	--aside-background: #{$aside-background-dark};
	--font-color: #{$font-color-dark};
	--main-shadow: #{$main-shadow-dark};
	--aside-shadow: #{$aside-shadow-dark};
}

@mixin subpage {
	padding-top: 6em;
	background-color: var(--background-gradient-1);
	transition: background-color 0.5s;
	height: 100%;
	overflow-y: scroll;
	scrollbar-width: none;
	scrollbar-color: transparent transparent;

	&::-webkit-scrollbar {
		width: 0;
		background-color: transparent;
	}

	@media (min-width: 400px) {
		padding-top: 10em;
	}

	@media (min-width: 768px) {
		padding-left: 20px;
		padding-right: 20px;
	}

	@media (min-width: 992px) {
		padding-top: 3em;
	}
}

@mixin heading {
	font-size: 1.7em;
}

@mixin subpageHeading {
	position: relative;
	width: fit-content;
	margin-left: auto;
	margin-bottom: 1em;
	color: var(--font-color);
	font-weight: normal;
	font-size: 2em;
	transition: color 0.3s;

	span {
		font-size: 1.2em;
		@include mainColored();
	}

	&::after {
		content: "";
		position: absolute;
		bottom: -3px;
		left: 0;
		height: 3px;
		width: 100%;
		background-color: var(--main-color);
		transition: background-color 0.3s;
	}

	@media (min-width: 768px) {
		margin-left: 0;
	}
}

@mixin text {
	margin-top: 1.2em;
}

@mixin mainColored {
	color: var(--main-color);
	transition: color 0.5s;
}

@mixin mainButton {
	position: relative;
	padding: 1em 1.2em;
	border: 2px solid var(--main-color);
	border-radius: 5px;
	font-weight: bold;
	color: var(--font-color);
	background-color: transparent;
	overflow: hidden;
	scale: 1;
	transition: background-color 0.3s, color 0.3s, scale 0.3s, border-color 0.3s;

	&:hover {
		background-color: var(--main-color);
		color: var(--aside-background);
		scale: 0.95;
	}

	&--filled {
		color: var(--aside-background);
		background-color: var(--main-color);

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			width: 25px;
			height: 150%;
			transform: skew(30deg);
			translate: -170% -50%;
			background-color: rgba(254, 250, 255, 0.3);
			transition: translate 0.3s;
		}

		&:hover {
			scale: 1.05;
		}

		&:hover::after {
			translate: 600% -50%;
		}
	}
}
