@import "../sass/reset";
@import "../sass/hamburger";
@import "../sass/animations";
@import "../sass/variables";
@import "../sass/loader";

body {
	font-size: 1.4rem;
	min-width: 320px;
	color: $fontColor-dark;
}

.layout {
	display: flex;

	.mainContent {
		position: relative;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		

		.page {
			position: absolute;
			height: 100%;
			width: 100%;
		}
	}
}

.contentEnter {
	position: absolute;
	width: 100%;
	animation: slideIn-right 0.7s ease forwards;
}
