@import "../sass/mixins";
@import "../sass/variables";
@import "../sass/animations";

.home {
	@include subpage;
	position: relative;
	width: 100%;
	height: 100dvh;
	overflow: hidden;
	transition: background-color 0.5s;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to left, var(--main-color), transparent);
		opacity: 0.2;
	}

	.wrapper {
		display: flex;
		flex-direction: column;
	}

	.heading {
		@include heading;

		strong:last-of-type {
			color: var(--main-color);
			transition: color 0.3s;
		}
	}

	.text {
		@include text;
	}

	.ctaBtns {
		display: flex;
		margin-top: 3em;
		gap: 1.5em;
	}

	.socialBtns {
		display: flex;
		margin-top: auto;
		padding-bottom: 2em;
		gap: 1.5em;
	}

	.photo {
		position: absolute;
		bottom: -20px;
		right: -20px;
		width: 175px;
	}

	.atomic {
		position: absolute;
		bottom: -3em;
		left: 20%;
		width: 100%;
		transform-origin: center;
		animation: scaling-rotate 90s infinite linear;
	}
}

@media (orientation: landscape) {
	.home {
		padding-top: 4em;
		overflow: visible;
		overflow-y: scroll;

		.text {
			width: 80%;
		}

		.socialBtns {
			margin-top: 2em;
		}

		.photo {
			position: fixed;
			pointer-events: none;
		}

		.atomic {
			width: 80%;
			bottom: -65px;
			left: 80%;
		}
	}
}

@media (min-width: 360px) {
	.home {
		padding-top: 9em;
		.photo {
			width: 220px;
		}
	}

	@media (orientation: landscape) {
		.home {
			padding-top: 4em;
		}
	}
}

@media (min-width: 425px) {
	.home {
		.heading {
			font-size: 2em;
		}
	}

	@media (orientation: portrait) {
		.home {
			padding-top: 13em;

			.photo {
				width: 250px;
			}
		}
	}
}

@media (min-width: 768px) {
	@media (orientation: portrait) {
		.home {
			padding-top: 15em;

			.text {
				width: 70%;
			}

			.photo {
				width: 350px;
				bottom: -25px;
			}

			.atomic {
				width: 80%;
			}
		}
	}
}

@media (min-width: 992px) {
	.home {
		padding-top: 0;
		overflow: hidden;

		.wrapper {
			position: relative;
			justify-content: center;
			max-width: 950px;
		}

		.text {
			width: 50%;
		}

		.socialBtns {
			margin-top: 4em;
		}

		.photoContainer {
			position: absolute;
			top: 50%;
			right: 5%;
			padding-left: 1em;
			padding-bottom: 2em;
			transform: translateY(-50%);

			&::before {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				height: 100px;
				width: 100px;
				border-top: 8px solid var(--main-color);
				border-right: 8px solid var(--main-color);
				transition: border-color 0.3s;
			}

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				height: 100px;
				width: 100px;
				border-bottom: 8px solid var(--main-color);
				border-left: 8px solid var(--main-color);
				transition: border-color 0.3s;
			}

			.photo {
				position: static;
				width: 300px;
			}
		}

		.atomic {
			top: 15%;
			left: 80%;
			bottom: auto;
		}
	}
}
