@import "../../sass/variables";

.nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 110px;
	margin: 0 auto;
	gap: 2em;

	&__link {
		color: gray;
		scale: 1;
		transition: color 0.1s, scale 0.1s;

		&:hover {
			color: var(--main-color);
			scale: 1.1;
			font-weight: bold;

		}

		&--active {
			color: var(--main-color);
			scale: 1.1;
			font-weight: bold;
			text-shadow: 0px 0px 20px var(--main-color);
		}
	}
}
